<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.AccountMapper">
<!--   这里resultType返回的对象要用实体类的别名，查询语句都有resultType返回类型-->
   <select id="selectAccountByAccount" resultType="Account">
   select * from management where account=#{account}
   </select>
</mapper>
